<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <pipelines>
      <forms.renderForm>
        <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.InitializeAjaxOptions, Sitecore.ExperienceForms.Mvc" set:type="Sitecore.Support.ExperienceForms.Mvc.Pipelines.RenderForm.InitializeAjaxOptions, Sitecore.Support.318918" />
      </forms.renderForm>
    </pipelines>
  </sitecore>
</configuration>